<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0" th:text=" 'Story By' + ' ' +${category.name}"></h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Action</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="story : ${stories}">
                        <th scope="row">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <span class="mb-0 text-sm" th:text="${story.id}"></span>
                                </div>
                            </div>
                        </th>
                        <td th:text="${story.title}">

                        </td>
                        <td th:text="${story.director}">

                        </td>
                        <td class="text-center">
                            <a th:href="@{'/story/show/' + ${story.id}}" class="btn btn-primary btn-xs">Show</a>
                            <a th:href="@{'/story/' + ${story.id}}" class="btn btn-default btn-xs">Edit</a>
                              <a th:href="@{'/story/delete/' + ${story.id}}" class="btn btn-danger btn-xs">Delete</a>
                            <a th:href="@{'/story/chapters/'+ ${story.id}}" class="btn btn-default btn-xs">List Chapter</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer py-4">
                <nav aria-label="Page navigation example" th:if="${totalPage > 1}">
                    <ul class="pagination float-right">
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/categories(page=${1}, limit=${limit})}">First</a>
                        </li>
                        <li th:if="${currentPage > 1}" class="page-item"><a class="page-link"
                                                                            th:href="@{/categories(page=${currentPage - 1}, limit=${limit})}">Previous</a>
                        </li>
                        <li th:if="${currentPage > 1}" class="page-item"><a class="page-link"
                                                                            th:href="@{/categories(page=${currentPage - 1}, limit=${limit})}">[[${currentPage
                            - 1}]]</a></li>
                        <li class="page-item active"><a class="page-link" href="#">[[${currentPage}]]</a>
                        </li>
                        <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link"
                                                                                    th:href="@{/categories(page=${currentPage + 1}, limit=${limit})}">[[${currentPage
                            + 1}]]</a></li>
                        <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link"
                                                                                    th:href="@{/categories(page=${currentPage + 1}, limit=${limit})}">Next</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/categories(page=${totalPage}, limit=${limit})}">Last</a>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>