<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Chapter By Story</h3>
            </div>
          <!--  <form th:action="@{/stories}" method="get">
                <div class="row">
                    <div class="col-lg-9">
                        <a class="btn btn-success" th:href="@{/story/create}">New Story</a>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group no-border">
                            <input type="text" th:value="${keyword}" name="keyword" class="form-control"
                                   placeholder="Search...">
                            <input type="hidden" th:value="${limit}" name="limit">
                            <input type="hidden" th:value="${currentPage}" name="page">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="nc-icon nc-zoom-split"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>-->

            <div class="table-responsive">
                <a th:href="@{/chapters/create/{storyId}(storyId=${story.id})}" class="btn btn-primary">Thêm chap new </a>
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Chap</th>
                        <th scope="col">Content</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="chapter : ${chapters}">
                        <th scope="row">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <a th:href="@{'/chapter/show/' + ${chapter.id}}" th:text="${chapter.title}">Chap</a>
                                </div>
                            </div>
                        </th>
                        <td th:text="${chapter.content}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Pagination" th:if="${chapters.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${chapters.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/story/chapters/{storyId}?page={id}(storyId=${story.id},id=${chapters.number lt 2 ? 1 : chapters.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq chapters.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, chapters.totalPages, 1)}">
                        <a class="page-link" th:href="@{/story/chapters/{storyId}?page={id}(storyId=${story.id},id=${i})}"
                           th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${chapters.number + 1 eq chapters.totalPages} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/story/chapters/{storyId}?page={id}(storyId=${story.id},id=${chapters.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>