<div class="col-xl-12 order-xl-1">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-12">
                    <h3 class="mb-0">New Story</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form th:object="${story}" th:action="@{/story}" th:method="post" enctype="multipart/form-data">
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="form-group">
                            <input type="hidden" class="form-control" th:field="*{id}"/>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Name Story</label>
                                <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                                       class="alert alert-danger"></label>
                                <input type="text" id="input-username" class="form-control form-control-alternative"
                                       placeholder="Name" th:field="*{title}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-address">Author</label>
                                <input type="text" id="input-address" class="form-control form-control-alternative"
                                       placeholder="Author" th:field="*{director}">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group" th:each="category : ${categories}">
                                <label class="form-control-label" for="input-cate">Categories</label>
                                <br>
                                <input id="input-cate" type="checkbox"
                                       th:field="*{categories}" th:value="${category.id}"/><span
                                    th:text="${category.name}"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-desc">Description</label>
                                <textarea rows="3" th:field="*{description}" id="input-desc"
                                          class="form-control form-control-alternative"
                                          placeholder="A few words about you ..."></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a th:href="@{'/stories'}" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4"/>
            </form>
        </div>
    </div>
</div>

