<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">All story By Account</h3>
            </div>
            <!--  <form th:action="@{/stories}" method="get">
                  <div class="row">
                      <div class="col-lg-9">
                          <a class="btn btn-success" th:href="@{/story/create}">New Story</a>
                      </div>
                      <div class="col-lg-3">
                          <div class="input-group no-border">
                              <input type="text" th:value="${keyword}" name="keyword" class="form-control"
                                     placeholder="Search...">
                              <input type="hidden" th:value="${limit}" name="limit">
                              <input type="hidden" th:value="${currentPage}" name="page">
                              <div class="input-group-append">
                                  <div class="input-group-text">
                                      <i class="nc-icon nc-zoom-split"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

              </form>-->

            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">CoverImg</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="story : ${stories}">
                        <th scope="row">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <span class="mb-0 text-sm" th:text="${story.id}"></span>
                                </div>
                            </div>
                        </th>
                        <td th:text="${story.title}"></td>
                        <td th:text="${story.director}"></td>
                        <td>
                            <th:block th:each="category : ${story.categories}">
                                <span th:text="'|'+${category.name} "></span>
                            </th:block>
                        </td>
                        <td th:text="${story.status}"></td>
                        <td><a th:href="@{'/story/show/' + ${story.id}}" class="btn btn-primary btn-xs"><i
                                class="fa fa-search"></i></a>
                            <a th:href="@{'/story/' + ${story.id}}" class="btn btn-default btn-xs"><i
                                    class="fa fa-pencil-square-o"></i></a>
                            <!--   <a th:href="@{'/story/delete/' + ${story.id}}" class="btn btn-danger btn-xs"><i
                                       class="fa fa-trash-o"></i></a>-->
                            <a th:href="@{'/story/chapters/'+ ${story.id}}" class="btn btn-default btn-xs"><i
                                    class="fa fa-list"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Pagination" th:if="${stories.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-medium">
                    <li class="page-item" th:classappend="${stories.number eq 0} ? 'disabled'">
                        <a class="page-link svg-icon"
                           th:href="@{/stories?page={id}(id=${stories.number lt 2 ? 1 : stories.number})}"
                           aria-label="Previous"
                           title="Previous Page" rel="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq stories.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( stories.number + 1, stories.totalPages > 3 + stories.number ? stories.number + 3 : stories.totalPages, 1)}">
                        <a class="page-link" th:href="@{/stories?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}"
                           rel="tooltip"></a>
                    </li>
                    <li class="page-item disabled" th:if="${stories.number + 3 < stories.totalPages}">
                        <a class="page-link svg-icon" href="#">
                            <span aria-hidden="true">&middot;&middot;&middot;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${stories.number + 1 eq stories.totalPages} ? 'disabled'">
                        <a class="page-link svg-icon" th:href="@{/stories?page={id}(id=${stories.number + 2})}"
                           aria-label="Next"
                           title="Next Page" rel="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>