<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Show all Story</h3>
            </div>
            <form th:action="@{/stories}" method="get">
                <div class="row">
                    <div class="col-lg-9">
                        <a class="btn btn-success" th:href="@{/story/create}">New Story</a>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group no-border">
                            <input type="text" th:value="${keyword}" name="keyword" class="form-control"
                                   placeholder="Search...">
                            <input type="hidden" th:value="${limit}" name="limit">
                            <input type="hidden" th:value="${currentPage}" name="page">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="nc-icon nc-zoom-split"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">CreateByAccount</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="story : ${stories}">
                        <th scope="row">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <span class="mb-0 text-sm" th:text="${story.id}"></span>
                                </div>
                            </div>
                        </th>
                        <td th:text="${story.title}">

                        </td>
                        <td th:text="${story.director}">

                        </td>
                        <td><a th:text="${story.account.fullname}"
                               th:href="@{'/stories/account/' + ${story.account.id}}"></a>
                        </td>
                        <td>
                            <th:block th:each="category : ${story.categories}">
                                <span th:text="'|'+${category.name} "></span>
                            </th:block>
                        </td>
                        <td th:text="${story.status}"></td>
                        <td class="text-center">
                            <a th:href="@{'/story/show/' + ${story.id}}" class="btn btn-primary btn-xs">Show</a>
                            <a th:href="@{'/story/' + ${story.id}}" class="btn btn-primary btn-xs">Edit</a>
                              <a th:href="@{'/story/delete/' + ${story.id}}" class="btn btn-danger btn-xs">Delete</a>
                            <a th:href="@{'/story/chapters/'+ ${story.id}}" class="btn btn-default btn-xs">List Chapter</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer py-4">
                <nav aria-label="Page navigation example" th:if="${totalPage > 1}">
                    <ul class="pagination float-right">
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/stories(page=${1}, limit=${limit})}">First</a>
                        </li>
                        <li th:if="${currentPage > 1}" class="page-item"><a class="page-link"
                                                                            th:href="@{/stories(page=${currentPage - 1}, limit=${limit})}">Previous</a>
                        </li>
                        <li th:if="${currentPage > 1}" class="page-item"><a class="page-link"
                                                                            th:href="@{/stories(page=${currentPage - 1}, limit=${limit})}">[[${currentPage
                            - 1}]]</a></li>
                        <li class="page-item active"><a class="page-link" href="#">[[${currentPage}]]</a>
                        </li>
                        <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link"
                                                                                    th:href="@{/stories(page=${currentPage + 1}, limit=${limit})}">[[${currentPage
                            + 1}]]</a></li>
                        <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link"
                                                                                    th:href="@{/stories(page=${currentPage + 1}, limit=${limit})}">Next</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/stories(page=${totalPage}, limit=${limit})}">Last</a>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#select_all").click(function(){
            $(document).ready(function () {
                $("#select_all").click(function () {
                    var checked_status = this.checked;
                    $("input[name='select[]']").each(function(){
                        $("input[name='select[]']").each(function () {
                            this.checked = checked_status;
                        });
                    });
                    $(".btn-delete-author").click(function () {
                        var id = $(this).attr("href").replace("#", "");
                        if (confirm("Bạn có chắc muốn xoá tác giả này?")) {
                            $.ajax({
                                url: "/admin/authors/ajax-delete/" + id,
                                type: "DELETE",
                                headers: {
                                    "X-CSRF-TOKEN": $("meta[name='_csrf']").attr("content")
                                },
                                success: function (data) {
                                    alert("Xoá thành công!");
                                    window.location.reload();
                                },
                                error: function () {
                                    alert("Thao tác thất bại, vui lòng thử lại sau!");
                                }
                            });
                        }
                        return false;
                    });
                });
</script>