<div class="card" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header">
        <h4 class="title">Comics</h4>
        <p class="category">shows all available comics</p>
        <div class="row">
            <form th:action="@{/stories}" method="get">

                <div class="col-sm-9 ">
                    <a class="btn btn-success" th:href="@{/story/create}">New author</a>
                </div>
                <div class="col-sm-3">
                    <div class="input-group no-border">
                        <input type="text" th:value="${keyword}" name="keyword" class="form-control"
                               placeholder="Search...">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="nc-icon nc-zoom-split"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <th:block th:if="${#lists.isEmpty(stories)}">
            <h5>No comics</h5>
        </th:block>
    </div>
    <div class="content table-responsive table-full-width">
        <div class="row">
            <div class="col-sm-12">
                <th:block th:unless="${#lists.isEmpty(stories)}">
                    <table class="table table-striped">
                        <thead>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>CreateByUser</th>
                        <!--<th>CoverImg</th>-->
                        <th>Category</th>
                        <th>Status</th>
                        <th class="text-center">Action</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr th:each="story : ${stories}">
                            <td th:text="${story.id}"></td>
                            <td th:text="${story.title}"></td>
                            <td th:text="${story.director}"></td>
                            <td><a th:text="${story.account.fullname}"></a></td>
                           <!-- <td>
                                <div class="container">
                                    <img th:src="|/images/${story.getThumbnail()}|" alt="green-parrot-picture"/>
                                </div>
                            </td>-->
                            <td>
                                <th:block th:each="category : ${story.categories}">
                                    <span th:text="'|'+${category.name} "></span>
                                </th:block>
                            </td>
                            <td th:text="${story.status}"></td>

                           <!-- <td>
                                <div th:if="${story.status == T(com.project.cms.entity.Status).OPEN}">
                                    <a class="dropdown-item"
                                       th:href="@{/story/{id}/{action}(id=${story.id}, action='close')}">CLOSE</a>
                                </div>
                                <div th:if="${story.status == T(com.project.cms.entity.Status).CLOSED}">
                                    <a class="dropdown-item"
                                       th:href="@{/story/{id}/{action}(id=${story.id}, action='open')}">OPEN</a>
                                </div>
                            </td>-->
                            <td class="text-center">
                                <a th:href="@{'/story/show/' + ${story.id}}" class="btn btn-primary btn-xs"><i
                                        class="fa fa-search"></i></a>
                              <!--  <a th:href="@{'/story/' + ${story.id}}" class="btn btn-default btn-xs"><i
                                        class="fa fa-pencil-square-o"></i></a>
                                <a th:href="@{'/story/delete/' + ${story.id}}" class="btn btn-danger btn-xs"><i
                                        class="fa fa-trash-o"></i></a>-->
                                <a th:href="@{'/story/chapters/'+ ${story.id}}" class="btn btn-default btn-xs"><i
                                        class="fa fa-list"></i></a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example" th:if="${totalPage > 1}">
                        <ul class="pagination float-right">
                            <li class="page-item"><a class="page-link"
                                                     th:href="@{/stories(page=${1}, limit=${limit})}">First</a>
                            </li>
                            <li th:if="${currentPage > 1}" class="page-item"><a class="page-link"
                                                                                th:href="@{/stories(page=${currentPage - 1}, limit=${limit})}">Previous</a>
                            </li>
                            <li th:if="${currentPage > 1}" class="page-item"><a class="page-link"
                                                                                th:href="@{/stories(page=${currentPage - 1}, limit=${limit})}">[[${currentPage
                                - 1}]]</a></li>
                            <li class="page-item active"><a class="page-link" href="#">[[${currentPage}]]</a>
                            </li>
                            <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link"
                                                                                        th:href="@{/stories(page=${currentPage + 1}, limit=${limit})}">[[${currentPage
                                + 1}]]</a></li>
                            <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link"
                                                                                        th:href="@{/stories(page=${currentPage + 1}, limit=${limit})}">Next</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     th:href="@{/stories(page=${totalPage}, limit=${limit})}">Last</a>

                        </ul>
                    </nav>
                </th:block>
            </div>
        </div>


    </div>
</div>
<style>
    .container {
        max-width: max-content;
    }

    img {
        /*width: 199px;
        height: 294px;*/
        width: 80px;
        height: 100px;
        border-radius: 4%;
        -moz-border-radius: 4%;
        -webkit-border-radius: 4%;
    }

</style>