<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments2/head"></th:block>
<body class="">
<th:block th:include="fragments2/navbar"></th:block>
<div class="main-content">
    <!-- Navbar -->
    <th:block th:include="fragments2/navbar2"></th:block>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>
    <div class="container-fluid mt--7">
        <th:block th:include="storyTemplates/showAll"></th:block>
        <!-- Footer -->
        <th:block th:include="fragments2/footer"></th:block>
    </div>
</div>
<th:block th:include="fragments2/script"></th:block>
</body>

</html>
