<div class="sidebar" data-background-color="white" data-active-color="danger" xmlns:th="http://www.w3.org/1999/xhtml">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a th:href="@{/stories}" class="simple-text">
                ADMIN COMICS
            </a>
        </div>

        <ul class="nav">
            <li>
                <a th:href="@{/stories}">
                    <i class="ti-book"></i>
                    <p>Manage Comics</p>
                </a>
            </li>
            <li>
                <a th:href="@{/categories}">
                    <i class="ti-menu"></i>
                    <p>Manage Category</p>
                </a>
            </li>

            <li>
                <a th:href="@{/allAccount}">
                    <i class="ti-user"></i>
                    <p>Manage Account</p>
                </a>
            </li>
            <li>
                <a th:href="@{/allComment}">
                    <i class="ti-comments"></i>
                    <p>Manage Comments</p>
                </a>
            </li>
        </ul>
    </div>
</div>