<div class="col-xl-12 order-xl-1">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-12">
                    <h3 class="mb-0">Edit Account</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form th:action="@{/chapters/create/{storyId}(storyId=${storyIds})}" th:method="post">
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                     <!--   <div class="form-group">
                            <input type="hidden" class="form-control" th:field="*{id}"/>
                        </div>-->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="title">Chap</label>
                                <input type="text" id="title" aria-describedby="title" name="title"
                                       class="form-control form-control-alternative"
                                       placeholder="Chap">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-address">Title</label>
                                <input type="text" id="author" aria-describedby="author" name="content"
                                       class="form-control form-control-alternative"
                                       placeholder="Title">
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="images">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" value="Submit Chapter">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4"/>
            </form>
            <div class="form-group">
                <button id="upload_widget" class="cloudinary-button">Get File</button>
            </div>
            <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
            <script type="text/javascript">
                var myWidget = cloudinary.createUploadWidget({
                        cloudName: 'ansg',
                        uploadPreset: 'dhiefvbh'
                    }, function (error, result) {
                        if (!error && result && result.event === "success") {
                            var imagesTag = document.querySelector("input[name='images']");
                            if (imagesTag.value.length != 0) {
                                imagesTag.value += ',';
                            }
                            imagesTag.value += result.info.secure_url;
                            console.log(result.info.secure_url);
                        }
                    }
                )

                document.getElementById("upload_widget").addEventListener("click", function () {
                    myWidget.open();
                }, false);
            </script>
        </div>
    </div>
</div>

