<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Show all Account</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${accounts}">
                        <th scope="row">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <span class="mb-0 text-sm" th:text="${c.id}"></span>
                                </div>
                            </div>
                        </th>
                        <td th:text="${c.fullname}">

                        </td>
                        <td th:text="${c.address}">

                        </td>
                        <td th:text="${c.email}">

                        </td>
                        <td class="text-center">
                            <a th:href="@{'/account/' + ${c.id}}" class="btn btn-default btn-xs"><i
                                    class="fa fa-pencil-square-o"></i></a>
                            <a th:href="@{'/account/show/' + ${c.id}}" class="btn btn-primary btn-xs"><i
                                    class="fa fa-search"></i></a>
                            <a class="btn btn-danger btn-xs"><i
                                    class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer py-4">
                <nav aria-label="Page navigation example" th:if="${totalPage > 1}">
                    <ul class="pagination float-right">
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/allAccount(page=${1}, limit=${limit})}">First</a>
                        </li>
                        <li th:if="${currentPage > 1}" class="page-item"><a class="page-link"
                                                                            th:href="@{/allAccount(page=${currentPage - 1}, limit=${limit})}">Previous</a>
                        </li>
                        <li th:if="${currentPage > 1}" class="page-item"><a class="page-link"
                                                                            th:href="@{/allAccount(page=${currentPage - 1}, limit=${limit})}">[[${currentPage
                            - 1}]]</a></li>
                        <li class="page-item active"><a class="page-link" href="#">[[${currentPage}]]</a>
                        </li>
                        <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link"
                                                                                    th:href="@{/allAccount(page=${currentPage + 1}, limit=${limit})}">[[${currentPage
                            + 1}]]</a></li>
                        <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link"
                                                                                    th:href="@{/allAccount(page=${currentPage + 1}, limit=${limit})}">Next</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/allAccount(page=${totalPage}, limit=${limit})}">Last</a>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
